APP_ENV=
APP_PORT=

DATABASE_PORT=
DATABASE_HOST=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_MAX_OPEN_CONNECTION=
DATABASE_MAX_IDLE_CONNECTION=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=

REDIS_HOST=
REDIS_PORT=

SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_BUCKET=